/* 
font-family: 'Arimo', sans-serif;
font-family: 'Source Sans Pro', sans-serif; //wght@300;400
 --colorPrincipal: #FFCF5A;
  --colorSecundario: #1D5062;
  background-color: #CD5220;
*/

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #FFCF5A;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  max-width: 70.50rem;
  margin: 0 auto;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  color: #1D5062;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4em;
  text-decoration: none;
}

a {
  text-decoration: none;
}

footer{
  width: 100%;
}