/* form div {
    display: flex;
    flex-direction: column;
}
 */
label {
    font-family: 'Arimo', sans-serif;
    font-size: 1.3em;
    color: #1D5062;
    margin-top: 1em;
    margin-left: 1em;
}

label:first-child {
    margin-top: 0;
}

input {
    width: 100%;
    height: 3em;
    background-color: white;
    border-radius: 50px;
    border: 0;
    padding: 1em;
    margin: 1em 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 12em;
    background-color: white;
    border-radius: 20px;
    border: 0;
    padding: 1.5em;
    margin: 1em 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

select {
    width: 100%;
    height: 3em;
    background-color: white;
    border-radius: 50px;
    border: 0;
    padding: 0.8em;
    margin: 1em 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

input:focus {
    background-color: #F6DFA7;
    border: 1px solid #1D5062;
    outline: none;
}

form button {
    background-color: #1D5062;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 0.8em;
    margin-top: 1em;
    margin-bottom: 4em;
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
    cursor: pointer;
    width: 70%;

}

form button:hover {
    color: white;
    background-color: #307A94;
}


.ContainerForm {
    display: flex;
    flex-direction: column;
}

.ButtonNoMargin {
    background-color: #1D5062;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 0.8rem;
    font-size: 1.2em;
    font-family: 'Arimo', sans-serif;
    text-decoration: none;
    cursor: pointer;
    margin: 0;

}

.CenterItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TextoError {
    font-size: 1.2em;
    color: rgb(200, 23, 23);
}

.TextoErrorBack {
    font-size: 1.5em;
    color: rgb(200, 23, 23);
    text-align: center;
}

.LabelError {
    border: 1px solid rgb(200, 23, 23);
    background-color: rgb(247, 162, 162);
}

.Oculto {
    display: none;
}

.InputEdit {
    background-color: #F6DFA7;
    color: #1D5062;
    border-radius: 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    cursor: pointer;
    margin: 0;
    width: 70%;
}

.InputEdit:disabled {
    background-color: #FFCF5A;
    color: #1D5062;
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    cursor: none;
    margin: 0;
    width: 70%;
}

.ContainerInputEdit {
    background-color: #FFCF5A;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 1.5em 0;
    border-bottom: 1px solid #F6DFA7;
    gap: 0.5em
}

.ContainerInput {
    background-color: #FFCF5A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

.DivEdit {
    width: 1.7em;
    height: 1.7em;
    background-image: url('../../icons/inputedit.png');
    background-size: cover;
    cursor: pointer;
    margin-right: 1em;
}

.DivEdit:hover {
    background-image: url('../../icons/inputedithover.png');
}

.LabelEdit {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: #1D5062;
    text-align: right;
    margin-right: 1em;
}

.ContainerButtonEdit {
    height: 2em;
}

.ButtonEdit {
    width: 10em;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 800;
    color: white;
    background-color: #CD5220;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0.3em;

}

.ButtonEdit:hover {
    color: #1D5062;
    background-color: #F6DFA7;
}

.ContainerEmail {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em
}

@media (min-width: 769px) {
    form button {
        width: 45%;
        font-size: 1.3em;
    }

    .ContainerInputEdit {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0em;
        align-items: baseline;
    }

    .ContainerInput {
        width: 80%;
        align-items: baseline;
    }
}